.sidebar {
  background-color: var(--color-grey-dark-2);
  color: #fff;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .nav-list {
    list-style: none;
    margin-top: 1.5rem;

    @media screen and (max-width: 43.75em) {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-around;
    }
    .nav-list-item {
      font-size: 1.5rem;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0.3rem;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
          background-color 0.1s;
      }

      &:hover::before,
      &-active::before {
        transform: scaleY(1);
        width: 100%;
      }

      &:active::before {
        background-color: var(--color-primary-light);
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      a:link,
      a:visited {
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 1rem;
        color: var(--color-grey-light-2);
        display: flex;
        align-items: center;
        z-index: 10;
        @media screen and (max-width: 28.5em) {
          flex-direction: column;

          svg {
            margin: 0;
            margin-bottom: 0.5rem;
          }
        }

        svg {
          margin-right: 1rem;
        }
      }
    }
  }
  .copyright-text {
    text-align: center;
    color: var(--color-grey-light-2);
    padding: 0.5rem;

    @media screen and (max-width: 43.75em) {
      display: none;
    }
  }
}
